body {
    /*min-height: 2000px;*/
    /*padding-top: 70px;*/
    padding-bottom: 70px;
    padding-right: -20px;
    height: 1800px;

}
.header{
    width:100%;
    height: 80px;

}
.nav_img{
    /*margin-left: 50px;*/
    float:left;
    width:260px;
    height: 70px;
}
.nav_container{
    float:left;
    /*margin-left: 160px;*/
   
}
.nav_word{
    width:22%;
    height: 35px;
    float:left;
    line-height: 35px;
    text-align: center;
    /*margin-left: 10px;*/
    border-left:1px solid #ccc ;
    margin-top: 20px;
    /* border:1px solid red; */
}
.nav_foot{
    float:left;
    /*margin-left: 120px;*/
    line-height: 80px;
}
.nav_foot .foot_img{
    width:20px;
    height: 20px;
    margin-left: 8px;
}
.active_a{
    margin-left: 250px;
    /*padding-left: 20px;*/
    text-align: center;
}
.nav a{
    margin-right: 25px;
}
.header_main{
    width:100%;
    height: 48px;
}
.header_main{

    position:relative;
}
#myCarousel{
    /*position:relative;*/
    /*top:0;*/
    /*left:0;*/
    width:100%;
    height: 420px;
    /*border:1px solid red;*/
}
#myCarousel .carousel_img{
    display: block;
    width:100%;
    height: 100%;
}
.secition1 .row .dl{
    margin-top: 30px;
    /*border:1px solid red;*/
}
.section1_img{
    width:76px;
    height:76px;
}
.img1_position,.word1_position{
    margin-left: 250px;
}
.img3_position,.word3_position{
    margin-right: 250px;
}
.secition2{
    border-top:1px solid #ccc;
}
.secition2 img{
    margin-top: 20px;
}
#swiper2{
    width:480px;
    height: 290px;
    position:relative;
    /*border:1px solid #ccc;*/
}
#video1,#video2,#video3,#video4{
    width:480px;
    height: 100%;
    object-fit: fill
}
#dots{
    position:absolute;
    bottom: 10%;
    left:5%;
}
.swiper-button-prev,.swiper-button-next{
    opacity: 0.5;
}
#swiper2 .swiper-slide .span{
    width:480px;
    height: 290px;
    position:absolute;
    top:0;
    left:0;

}
.iconfont{
    font-size: 60px;
    color: #fff;
    position:absolute;
    width:480px;
    height: 290px;
    opacity: 0.6;
    /*border:1px solid red;*/
    text-align: center;
    line-height: 290px;
}
.secition3{
    margin-top: 20px;
    margin-left: 20px;
}
/*.section3_img{*/
/*width:580px;*/
/*height: 300px;*/
/*}*/
.secition3_word{
    width:500px;
    height: 55px;
    /*padding: 8px;*/
    line-height: 25px;
    margin-bottom: 80px;
    padding-top: 10px;
}
.secition3_right{
    margin-left: 30px;
}
.section4_img{
    width:100%;
    height: 120px;
}
.secition4{
    margin-top: 8px;
}
.secition5 img{
    margin-top: 20px;
}
.section6{
    /*background: url("../images/frontend/end.png");*/
    background-size: 100% 100%;
    /*background-size:contain;*/
    background-repeat: no-repeat;
    width:100%;
    height: 360px;
    position:relative;
    margin-top: 10px;
}
.section6_introduce{
    position:absolute;
    top:10px;
    right: 220px;
    color:#B99C56;
}.section6_introduce .div1{
    margin-top: 20px;
    width:260px;
    height: 60px;
     text-align: center;
 }
 .div2{
     width:260px;
     height: 60px;
     letter-spacing:9px;
     text-align: center;
 }
 .div3{
     width:280px;
     height: 80px;
    /*border:1px solid red;*/
 }
 .section6_main .more{
    position: absolute;
    top:60%;
    left:60%;
 }
 .section6_introduce .div1 span:nth-of-type(1){
    font-size: 28px;
    margin-right: 10px;
}
 .section6 .div2 span:nth-of-type(1){
     margin-right: 10px;
 }
.section6 .div3 p:nth-of-type(1){
   text-align: center;
}
.section7{
    /*width:100%;*/
    height: 500px;
    position: relative;
    margin-top:40px;
    /*display:flex;*/
    /*justify-content: center; //子元素水平方向居中*/
    /*align-items: center;//子元素垂直方向居中*/
}
.section7 img {
    width:328px;
    height: 320px;
    position:absolute;
    top:30px;left:500px;
}
.section7 .introduce_word01{
    position:absolute;
    top:5%;
    left:23%;
    /*width:220px;*/
    /*height:100px;*/
}
.section7  .introduce_title{
    /*width:220px;*/
    /*height:20px;*/
    text-align: right;
    color:#242424;
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.section7  .introduce_sentence{
    width:220px;
    height:40px;
    color:#7E7E7E;

}
.section7 .introduce_word02{
    position:absolute;
    top:35%;
    left:21%;
    /*width:220px;*/
    /*height:100px;*/
}
.section7 .introduce_word03{
    position:absolute;
    top:63%;
    left:25%;
    /*border:1px solid #ccc;*/
    /*width:220px;*/
    /*height:100px;*/
}
.section7 .introduce_word04{
    position:absolute;
    top:5%;
    left:62%;
    /*border:1px solid #ccc;*/
    /*width:1%;*/
    /*height:100px;*/
}
.section7 .introduce_word04 .introduce_title{
    /*width:220px;*/
    /*height:20px;*/
    text-align: left;
    color:#242424;
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.section7 .introduce_word05{
    position:absolute;
    top:33%;
    left:63%;
    /*width:220px;*/
    /*height:100px;*/
}
.section7 .introduce_word05 .introduce_title{
    /*width:220px;*/
    /*height:20px;*/
    text-align: left;
    color:#242424;
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.section7 .introduce_word06{
    position:absolute;
    top:64%;
    left:57%;
    /*width:220px;*/
    /*height:100px;*/
}
.section7 .introduce_word06 .introduce_title{
    /*width:220px;*/
    /*height:20px;*/
    text-align: left;
    color:#242424;
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.section8{
    background-color: #F1F3F4;
    /*width:100%;*/
    height:500px;
}
.section8 .section8_left{
    /*margin-left:180px;*/
    padding-top:60px;
    /*float:left;*/
    /*width:500px;height: 500px;*/
}
.section8 .section8_left p{
    width:300px;height:120px;
    margin-top:30px;line-height: 1.8;
}
.section8_right{
    background-color:#8C6238;
    color:#fff;
}
.section8_right .line4{
    width:80px;
    height:2px;
    background-color: #8C6238;
}
.right_container{
    background-color:#8C6238;
    width:805px;
    height:420px;
    margin-top:40px;
    /*float:left;*/
}
.section8 .species{
    /*float:left;*/
    margin-top: 20px;
}
.section8_right .species_img{
    width:200px;
    height:280px;
    /* background-color:red; */
}
.section8_right .species_img01{
    width:80px;
    height:2px;
}
.section8_right .species_word{
    width:100%;
    height:60px;
    /* border:1px solid red; */
    margin-top:15px;
}
/*.section9 .news_title{*/
    /*text-align: center;*/
    /*font-size: 24px;*/
    /*margin-top: 30px;*/
/*}*/
/*.section9 .news_container {*/
    /*margin-top:20px;*/
    /*text-align: center;*/
/*}*/
/*.section9 .news_container .news1{*/
    /*float:left;*/
/*}*/
/*.section9 .news_container .news1 .news_img1{*/
    /*width:80%;*/
    /*height: auto;*/
    /*margin-left: 90px;*/
/*}*/
/*.section9 .news_container .news1 .news_img2{*/
    /*width:80%;*/
    /*height: auto;*/
/*}*/
/*.section9 .news_container .news1 .news_img3{*/
    /*width:80%;*/
    /*height: auto;*/
    /*margin-right: 90px;*/
/*}*/
/*.news_container .news_xainqing{*/
  /*margin-left: 90px;*/
/*}*/
/*.news_container .news_xainqing2{*/
    /*margin-left: 30px;*/
/*}*/
/*.news_container .news_title2{*/
    /*font-size:18px;*/
    /*width:350px;*/
    /*height:20px;*/
    /*margin-left: 40px;*/
    /*margin-top: 12px;*/
/*}*/
/*.news_container .news_title1{*/
    /*font-size:18px;*/
    /*width:350px;*/
    /*height:20px;*/
    /*margin-left: 40px;*/
    /*margin-top: 12px;*/
/*}*/
/*.news_container .news1 .news_content1{*/
    /*font-size:15px;*/
    /*padding-top:20px;*/
    /*padding-bottom: 20px;*/
    /*color:#989898;*/
    /*margin-left: 86px;*/
    /*width:340px;*/
    /*height: 80px;*/
    /*text-align: left;*/
/*}*/
/*.news_container .news1 .news_content2{*/
    /*font-size:15px;*/
    /*padding-top:20px;*/
    /*padding-bottom: 20px;*/
    /*color:#989898;*/
    /*width:340px;*/
    /*height: 80px;*/
    /*margin-left: 33px;*/
/*}*/
/*.news_container .news_title3{*/
    /*font-size:18px;*/
    /*width:350px;*/
    /*height:20px;*/
    /*margin-right: 90px;*/
    /*margin-top: 12px;*/
/*}*/
/*.news_container .news1 .news_content3{*/
    /*font-size:15px;*/
    /*padding-top:20px;*/
    /*padding-bottom: 20px;*/
    /*color:#989898;*/
    /*width:340px;*/
    /*height: 80px;*/
    /*margin-right: 90px;*/
/*}*/
/*.section9 #show{*/
/*display: none;*/
/*}*/
.section9 .news_title{
    /*display:flex;*/
    /*justify-content: center; //子元素水平方向居中*/
    /*align-items: center;//子元素垂直方向居中*/
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}
.section9 .news_container {
    margin-top:20px;
    text-align: center;
}
.section9 .news_container .news1{
    float:left;
    /*border: 1px solid red;*/
}
.section9 .news_container .news1_img{
    width:100%;
}
.section9 .news_container .news_position{
    margin-left: 200px;
}
.news_container .news_title{
    font-size:18px;
    width:350px;
    height:20px;
    margin-left: -40px;
}
.news_container .news1 .news_content{
    font-size:16px;
    padding-top:20px;
    padding-bottom: 20px;
    color:#989898;
}
.section10{
    background: url('/images/footer.jpg');
    background-size:100% 100%;
    width:100%;
    height:auto;
    margin-top:90px;

}
.section10 .page{
    color:#fff;
    float:left;
    /*margin-left:160px;*/
    margin-top: 20px;
}
.section10 .page p{
    padding-bottom: 25px;
    padding-top: 18px;
}
.section10 .page ul li a{
    color:#fff;
    font-size: 16px;

}
.section10 .store{
    color:#fff;
    /*margin-left:360px;*/
    margin-top: 38px;
    width:300px;
    float:left;
    height: auto;
}
.section10 img{
    width:46px;height: 46px;
}
.section10 .store p{
    padding-bottom: 8px;
}
.section10 .contact{
    color:#fff;
    /*float:left;*/
    /*margin-left:80px;*/
    margin-top: 50px;
}
.section10 .contact img{
    width:38px;height: 35px;
}
.footer1{
    color:#fff;
}
.section10 .taobao{
    margin-top: 15px;
}
.taobao img{
    margin-top: 10px;
}
.taobao *{
    vertical-align: middle;
    color: #fff;
}
.pinduoduo *{
    vertical-align: middle;
    color: #fff;
}
.pinduoduo img{
    margin-left: 10px;
}
.weixin *{
    vertical-align: middle;
    color: #fff;
}
#NavTop{
    width:90px;
    height:200px;
    margin-top:50px;
    position:fixed;
    right:0px;top:150px;        /*固定位置,右浮动，距上150px*/
    text-align: center;
}
/*#NavTop #NavCon{*/
/*width:90px;*/
/*height:170px;*/
/*background-color:#fff;*/
/*position:relative;*/
/*border:1px solid black;*/
/*}*/
#NavTop #NavCon .P,.W,.Z,.D {
    text-decoration:none;
    color:#8C6238;
    width:50px;
    height:52px;
    background-color:#fff;
    display:block;
    margin-top:0px;
    margin-left:22px;
    line-height:25px;
    text-align:center;
    font-family:"微软雅黑";
    font-size:12px;
    /* border:1px solid #000; */
    margin-bottom: 2px;
}
#NavTop #NavCon div a{
    color:#8C6238;
    text-decoration:none;
}
@media screen and (max-width:768px){
    .button1:hover{
        color:#009555 !important;
    }
    .active_a{
        margin-left: 0px;
        width:100%;
        /*padding-left: 20px;*/
        text-align: left;
    }
    #myCarousel{
        margin-top:4px;
        padding:0;
        border:0px solid #222;
        /*position:relative;*/
        /*top:0;*/
        /*left:0;*/
        width:100%;
        height: 100px;
    }
    .header{
        width:100%;
        height: 180px;
    }
    body {
        min-height: 2000px;
        padding-top: 22px;
    }
    .navbar_bg{
        /*background-color: #009555;*/

    }
    .section1_img{
        width:46px;
        height:46px;
    }
    .section1_word{
        font-size:6px;
    }

    .secition2 img{
        width:180px;
        height: 58px;
    }
    .img1_position,.word1_position{
        margin-left: 20px;
    }
    .img3_position,.word3_position{
        margin-right: 20px;
    }
    .section3_left .swiper-container{
        width:260px !important;
        height: 210px !important;

        position:relative;
    }
    #video1,#video2,#video3,#video4{
        width:260px !important;
        height: 210px !important;
        object-fit: fill
    }
    .section3_left .swiper-container .iconfont{
        position:absolute;
        top:0;
        left:0;
        /*border:1px solid red;*/
        text-align: center;
        line-height: 210px;
        width:260px;
    }
    .section3_right{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .secition3_word{
        width:auto;
        height: 100px;
        font-size: 12px;
    }
    #xiangqin1{
        text-align: center;
        width:120px;
        height: 40px;
    }
    .secition5 img{
        width:180px;
        height: 58px;
    }
    .section6 {
        width:100%;
        height: 180px;
    }
    .section6_main .more{
        width:60px;
        height: 20px;
    }
    .section6_introduce{
        position:absolute;
        top:5%;
        right: 0%;
        color:#B99C56;
    }.section6_introduce .div1 {
             margin-top: 20px;
             width: 150px;
             height: 26px;
             text-align: center;
         }
    .div2{
        width:160px;
        height: 30px;
        letter-spacing:9px;
        text-align: center;
        font-size: 10px;
    }
    .div3{
        width:160px;
        height: 50px;
        font-size: 8px;
        /*border:1px solid red;*/
    }
    .section6_introduce .div1 span:nth-of-type(1){
        font-size: 12px;
        margin-right: 10px;
    }
    .section6_introduce .div1 span:nth-of-type(2){
        font-size: 8px;
    }
    .section6 .div2 span:nth-of-type(1){
        margin-right: 10px;
    }
    .section6 .div3 p:nth-of-type(1){
        text-align: center;
    }
    .section7{
        width:100%;
        height: 250px;
        position: relative;
        /*display:flex;*/
        /*justify-content: center; //子元素水平方向居中*/
        /*align-items: center;//子元素垂直方向居中*/
    }
    .section7 img {
        width:130px;
        height: 120px;
        position:absolute;
        top:20%;left:30%;
    }
    .section7 .introduce_word01{
        position:absolute;
        top:12%;
        left:4%;
        width:35%;
        height:20%;
    }
    .section7 .introduce_title{
        width:100%;
        height:5px;
        text-align: right;
        color:#242424;
        font-size:6px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .section7  .introduce_sentence{
        width:100%;
        height:100%;
        color:#7E7E7E;
        font-size:6px;
    }
    .section7 .introduce_word02{
        position:absolute;
        top:38%;
        left:0%;
        width:30%;
        height:20%;
    }
    .section7 .introduce_word03{
        position:absolute;
        top:68%;
        left:5%;
        width:35%;
        height:20%;
    }
    .section7 .introduce_word04{
        position:absolute;
        top:14%;
        left:65%;
        width:35%;
        height:20%;
    }
    .section7 .introduce_word04 .introduce_title{
        width:90px;
        height:5px;
        text-align: left;
        color:#242424;
        font-size:6px;
        font-weight: bold;
        margin-bottom: 5px;

    }
    .section7  .introduce_sentence{
        width:100%;
        height:100%;
        color:#7E7E7E;
    }
    .section7 .introduce_word05{
        position:absolute;
        top:40%;
        left:68%;
        width:30%;
        height:20%;
    }
    .section7 .introduce_word05 .introduce_title{
        width:90px;
        height:5px;
        text-align: left;
        color:#242424;
        font-size:6px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .section7 .introduce_word06{
        position:absolute;
        top:68%;
        left:60%;
        width:35%;
        height:20%;
    }
    .section7 .introduce_word06 .introduce_title{
        width:90px;
        height:5px;
        text-align: left;
        color:#242424;
        font-size:6px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    /*.section8{*/
    /*background-color: #F1F3F4;*/
    /*width:100%;*/
    /*height:auto;*/
    /*}*/
    .section8{
        /*position:relative;*/
        width:100%;
        background-color: #F1F3F4;
        height: 690px;
    }
    .section8 .section8_left{
        background-color: #F1F3F4;
        width:auto;height: 350px;
        margin-left: 40px;
        float:left;
    }
    .section8_left .img1{
        padding-left: 50px;
    }
    .section8 .img{
        text-align: center;
    }
    .section8 .section8_left p{
        width:200px;height:120px;
        margin-top:30px;
    }
    .section8_right{
        width:100%;
    }
    .right_container{
        background-color: #8C6238;
        width:100%;
        height:250px;
        float:left;
        position:relative;
       
    }
    .section8_right .line4{
        background-color: #fff;
        width:30px;
        height: 2px;
        /* border:1px solid red; */
        margin-top: 10px;
    }
    .section8_right .species:nth-of-type(1) {
        float:left;
        width:120px;
        height:200px;
        position:absolute;
        top:0;
        left:0;

    }
    .section8_right .species:nth-of-type(2) {
        float:left;
        width:120px;
        height:200px;
        position:absolute;
        top:0;
        left:30%;

    }
    .section8_right .species:nth-of-type(3) {
        float:left;
        width:120px;
        height:200px;
        position:absolute;
        top:0;
        left:60%;

    }
    .section8_right .species_img{
        width:100%;
        height:130px;
        /*padding-left:30px;*/
    }
    .section8_right .species_title{
        font-size: 10px;
        width:100%;
        height: 10px;
    }
    .section8 .species_img01{
        width:20px;
        height:10%;
    }
    .section8 .species_word{
        font-size:8px;
    }
    .section9{
        width:100%;
        height: 550px;
    }
    .section9 .news_container .news_position{
        margin-left: 0px;
    }
    .news_container .news1{
        width:45%;
        margin-right: 15px;
        height:auto;
        margin-bottom: 8px;
        text-align: center;
        /*border: 1px solid red;*/
    }
    .news_container img{
        width:98%;
        height:auto;
    }
    .news1 .news_title{
        font-size:10px;
        width:98%;
        height:12px;
        text-align: center;
        /*margin-top: 30px;*/
    }
    .news1 .news_title p{
        font-size:10px;
        width:98%;
        height:12px;
        text-align: center;
        margin-left: 35px;
    }
    .news1 .news_content p{
        font-size: 10px;
        width:98%;
        height:20px;
        padding-top: 10px;

    }
    .news1 .news_img{
        width:50%;
        padding-top: 10px;
        height:30px;
    }
    .section10 .footer1{
        font-size: 8px;
        margin-top: 10px;
    }
    .section10 .store{
        position:relative;
    }
    .section10 img{
        width:38px;
        height: 38px;
    }
    /*.section10 .store p,div{*/
    /*float:left;*/
    /*}*/
    .section10 .store ul:first-child{
        margin-left: 26px;
    }
    .section10 .store  a{
        display: none;
    }
    .section10 div{
        float:left;margin-left: 8px;
    }
    .section10 .taobao img{
        margin-top: -25px;
    }
    .section10 .pinduoduo img{
        margin-top: -10px;
        margin-right: 10px;
    }
    .section10 .weixin img{
        margin-top: -10px;
    }
}


